.TopNav a {
    color: #c6c6c6;
}

.TopNav a:hover {
    color: #dedede;
}

nav.TopNav {
    padding: 0;
}

.logo {
    max-height: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.brandPadding a {
    padding: 0
}