.TopNav a {
    color: #c6c6c6;
}

.TopNav a:hover {
    color: #dedede;
}

nav.TopNav {
    padding: 0;
}

.icon {
    width: 56px;
    height: 60px;
    margin-right: 20px;
    margin-left: 10px;
}

.brandPadding a {
    padding: 0
}